.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.metadata
build/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDE and operating system files
.idea/
*.iml
.DS_Store
Thumbs.db
